/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.text-center {
    text-align: center;
}
.margin-auto {
    margin: auto;
}
.margin-xs {
    margin: 5px;
}
.margin-sm {
    margin: 10px !important;
}
.margin-md {
    margin: 15px;
}
.margin-lg {
    margin: 20px;
}